<header class="navbar p-3 bg-dark text-white justify-content-between">
  <div class="container">
    <div class="navbar-brand">
      <h1><a routerLink="" class="text-white">Logo</a></h1>
      <a routerLink="form" class="btn btn-success" *ngIf="loggedIn">Создать лид</a>
    </div>
    <div>
      <a routerLink="login" class="btn btn-info navbar-brand" *ngIf="!loggedIn">Войти</a>
      <a (click)="logout($event)" class="btn btn-info navbar-brand" *ngIf="loggedIn">Выйти</a>
      <a routerLink="profile" class="btn btn-info navbar-brand" *ngIf="loggedIn">Профиль</a>
    </div>
  </div>
</header>
