
<section class="mt-5">
  <div class="card">
    <form [formGroup]="leadForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Link</label>
        <input formControlName="link" type="text"  class="input-group">
        <div id="emailHelp" class="form-text">Ссылка на лид</div>
      </div>

      <div class="row">
        <div class="col">
          <select formControlName="category_id"  aria-label="Default select example">
            <option value="0">Категория</option>
            <option *ngFor="let item of categories" [value]="item.id">{{item.title}}</option>
          </select>
        </div>

        <div class="col">
          <select formControlName="status_id"  aria-label="Default select example" class="input-group">
            <option value="0">Статус</option>
            <option *ngFor="let item of statuses" [value]="item.id">{{item.title}}</option>
          </select>
        </div>

      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Комментарий лида</label>
        <textarea formControlName="comment"  id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <div class="mb-3 form-check">
        <input type="checkbox" formControlName="is_express_delivery" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Услуги доставки</label>
      </div>
      <button [disabled]="leadForm.invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>
